[core]
	editor = \"C:\\Users\\keith\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[init]
	defaultBranch = main
[user]
	name = keith
	email = keithsmart7@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
